.nice {
    height: 100px;
    width: 200px;
    background-color: rgb(255, 127, 167);
    border: 2px solid deeppink ;
    border-radius: 15px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-row-gap: 172px;
}

.div{
    height: 100px;
    width: 200px;
}