body{
    margin:0;
}
.green{
    height: 100px;
    width: 400px;
    background-color: rgb(74, 189, 74);
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.red{
    height: 100px;
    width: 200px;
    background-color: rgb(226, 63, 63);
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid{
    display: grid;
    grid-template-columns: 100px 140px 140px;
}
.blue{
    height: 100px;
    background-color: rgb(97, 175, 202);
    border-radius: 15px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}